################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Testing/.vs/Testing/v15
/.vs
/Testing/Testing/obj
